#log{
    background-color: yellow;
    border-color: yellow;
    border-radius: 15px;    
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    
}
#line{
    color: #f5bc42;
    opacity: 75%;
}

.lin{
    list-style: none;
    cursor: pointer;
    padding-bottom: 5px;
    opacity: 0.5;
    display: flex;
    gap: 25px;
    padding-left: 25%;
}
.sil{
    /* background-color: silver; */
    background-image: url(/real01/royal.jpeg);
    background-size: 100%;
    backface-visibility: visible;
    background-repeat: no-repeat;
    padding-top: 17%;
    justify-content: center;
    align-items: center;

}
#yell{
  font-size: 20px;
  padding: 35px;
  padding-left: 15%;
  padding-right: 9%;
  background-color: #f5bc42;
  opacity: 0.6;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  
  
}
#nam{
    /* background-color: silver; */
    height: 300px;
   
}
 #we{
    font-size: 20px;
    font-family: Montserrat;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 45%;

}

#lo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

}
#na{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #f5bc42;


}
#pr{
    align-items: center;
    text-align: center;
}
#lear{
    background-color: #f5bc42;
    display: flex;
    height: 35px;
    width: 135px;
    border-color: #f5bc42;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    
}
#lear:hover{
    background-color: #d65c54;
    border-color: #d65c54;
    box-shadow: 2px 3px 3px 3px black;
}
.info{
    background-color: #f5bc42;
    
}
#inf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#ph01{
    display: flex;
    justify-content: space-between;
}
.ph03{
    border-radius: 50%;

}
#tox{
    font-size: 10px;
}
#loar{
    height: 25px;
    width: 95px;
    font-size: 11px;
    background-color: black; 
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
}
#loar:hover{
    /* background-color: #d65c54; */
    background-image: radial-gradient(red, blue, yellow);
    box-shadow: 2px 3px 3px 1px black;
    color: aqua;
}
#new{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.r12{
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

 .dualphotos{
    display: flex;
    justify-content: space-between;
 }

 .dualphotostwo{
    display: flex;
    justify-content: space-between;
 }
 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
#logo{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#bo{
    margin-left: 10px;
}
#cur{
    cursor: pointer;
    font-weight: bold;
}
.photosone{
    padding-right: 15%;
    padding-left: 12%;
}
#photo{
    border-radius: 100%;
}
.custmor{
    padding: 5%;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}
.review{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.bg{
    background-color: #dfe5f0;
    height: 30%;
}
.bg01{
    background-color: #dfe5f0;
    height: 30px;
}
.col{
    background-color: #f5bc42;
    height: 255px;
    padding-top: 4%;
}
#lo01{
    padding-top: 8%;
    padding: 2%;
}
.und{
    display: flex;
    gap: 5%;
    text-decoration: underline;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
}
